/* style.css */
body{
 background-color: lightblue;
 }
 .table{
   margin-left: auto;
   margin-right: auto;
   background-color: red;

 }
h1{
  text-align: center;
}
th{
background-color: yellow;


}
.footer{
color: red;

}
